<% include header.ejs %>
<!--INICIO DE CONTENIDO -->
<div class="container">
  <div class="row">
    <!----------------------------------------->
    <div class="col-8">
      <div class="card text-center">
        <div class="card-header text-white bg-dark">
          <h4>Ultimos Tweets </h4>
        </div>
        <div class="card-body">
          CUERPO DE TWEETS
        </div>
        <div class="card-footer text-muted">
          Red Social
        </div>
      </div>
    </div>
    <!----------------------------------------->
    <div class="col-4">
      <!----------------------------------------->
      <div class="row">
        <div class="col">
        <div class="card">
          <div class="card-header text-white text-center bg-dark">
            <h6>Informacion de Red Social</h6>
          </div>
          <div class="card-body">
            <p>Total de Usuarios:</p>
            <p>Total de Tweets:</p>
            <p>Total de Categorias:</p>
          </div>
          <div class="card-footer text-muted">

          </div>
        </div>
        </div>
      </div>
      <!----------------------------------------->
      <br>
      <!----------------------------------------->
      <div class="row">
        <div class="col">
        <div class="card ">
          <div class="card-header text-white text-center bg-dark">
            <h6>Tweets Populares de Red Social</h6>
          </div>
          <div class="card-body">
            <p>Usuarios con Mas tweets:</p>
            <p>Categoria Mas Popular:</p>
          </div>
          <div class="card-footer text-muted">

          </div>
        </div>
        </div>
      </div>
      <!----------------------------------------->
    </div>
  </div>
</div>
<!--FIN DE CONTENIDO-->
<% include footer.ejs %>
