<% include header.ejs %>
<!--INICIO DE CONTENIDO -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-white text-center bg-dark">
          <h4>Usuario A Consultar</h4>
        </div>
        <div class="card-body">
          CUERPO DE TWEETS
        </div>
        <div class="card-footer text-muted">
          Red Social
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header text-white text-center bg-dark">
          <h4>Informacion </h4>
        </div>
        <div class="card-body">
          <p>Alias:</p>
          <p>Nombre:</p>
          <p>Tweets:</p>
        </div>
        <div class="card-footer text-muted">
          Red Social
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-white text-center bg-dark">
          <h4>Ultimos Tweets </h4>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-muted">

        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DE CONTENIDO -->
<% include footer.ejs %>
